<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="OpenDarts" sequenceNumber="13">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.derby" version="10.5.1.1_201105231903"/>
<unit id="org.apache.derby.source" version="10.5.1.1_201105231903"/>
<unit id="ch.qos.logback.classic" version="0.9.27.v20110224-1110"/>
<unit id="ch.qos.logback.core" version="0.9.27.v20110224-1110"/>
<unit id="org.slf4j.api" version="1.6.1.v20100831-0715"/>
<unit id="org.slf4j.api.source" version="1.6.1.v20100831-0715"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20110523182458/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.guava.sdk.feature.feature.group" version="10.0.0"/>
<repository location="http://guava-osgi.googlecode.com/svn/trunk/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.persistence.jpa.feature.group" version="2.4.0.v20120604-r11619"/>
<unit id="org.eclipse.persistence.jpa.source.feature.group" version="2.4.0.v20120604-r11619"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="3.8.0.I20120608-1200"/>
<unit id="org.eclipse.rcp.id" version="3.8.0.I20120608-1200"/>
<unit id="org.eclipse.rcp.sdk.id" version="3.8.0.I20120608-1200"/>
<unit id="org.eclipse.sdk.ide" version="3.8.0.I20120608-1200"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.8milestones"/>
</location>
</locations>
</target>
