<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="OpenDarts" sequenceNumber="1">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="3.7.0.I20110613-1736"/>
<unit id="org.eclipse.pde.api.tools.ee.javase16.group" version="1.0.100.v20110123-7C-FGBF9JgLWWM0LWAWLrL"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.7"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.slf4j.api" version="1.6.1.v20100831-0715"/>
<unit id="org.slf4j.api.source" version="1.6.1.v20100831-0715"/>
<unit id="org.slf4j.log4j" version="1.6.1.v20100831-0715"/>
<unit id="org.slf4j.log4j.source" version="1.6.1.v20100831-0715"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20110523182458/repository/"/>
</location>
</locations>
</target>
