<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <perspectiveShortcut
               id="opendarts.perspective.stats">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.opendarts.ui.stats.perspective.StatsPerspective"
            fixed="true"
            icon="icons/view/stats.png"
            id="opendarts.perspective.stats"
            name="Statistics">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="opendarts.category.stats"
            name="Statistics">
      </category>
      <view
            category="opendarts.category.stats"
            class="org.opendarts.ui.stats.view.StatsExplorerView"
            icon="icons/view/stats.png"
            id="opendarts.view.stats.explorer"
            name="Stats Explorer"
            restorable="true">
      </view>
      <view
            category="opendarts.category.stats"
            class="org.opendarts.ui.stats.view.StatsDetailView"
            icon="icons/view/stats.png"
            id="opendarts.view.stats.detail"
            name="Stats Detail"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="opendarts.cmd.stats.refresh"
            name="Refresh">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.opendarts.ui.stats.handler.RefreshStatsHandler"
            commandId="opendarts.cmd.stats.refresh">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="opendarts.cmd.stats.refresh"
            icon="icons/actions/refresh.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:openwis.stats.detail">
         <command
               commandId="opendarts.cmd.stats.refresh"
               label="Refreh"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.opendarts.ui.stats.pref.StatsPreferencePage"
            id="opendarts.pref.ui.stats"
            name="Statistics">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.opendarts.ui.stats.pref.StatsPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
